html, body{
    height: 100%;
    margin: 0px;
    background-color: green;
  }
  
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .container{
    height: 100%;
    width: 100%;
    background-color: white;
  }
  
  .calculator{
    height: 50%;
    width: 40%;
    max-width: 350px;
    background-color: #ECECEC;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
  }
  
  .display{
    background-color: lightblue;
    height: 15%;
    width: 90%;
    border-radius: 5px;
    font-size: 200%;
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden; 
    display : flex; 
    flex-direction : row-reverse; 
    align-items: flex-start;
    white-space: nowrap;
  }
  
  .buttons{
    width: 90%; 
    height: 70%;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
  }
  
  .row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  
  .btn{
    background-color: #F1FFEB;
    height: 80%;
    width: 20%;
    text-align: center;
    border-radius: 5px;
    font-size: 200%;
    border-color: black;
    border: solid;
    border-width: 1px;
  }

 .btn:hover{
    background-color: #c5ff9b;
 }

  .btn2{
    background-color: #FFEBF9;
    height: 80%;
    width: 44%;
    text-align: center;
    border-radius: 5px;
    font-size: 200%;
    border-color: black;
    border: solid;
    border-width: 1px;
  }

  .btn2:hover{
    background-color: #ff89dc;
 }


  
  
  